/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    @apply px-3 py-2 rounded-full bg-white hover:bg-none;
  }

  a {
    @apply relative px-3 py-2 rounded-full;

    &:hover {
      @apply text-black; 
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      height: 1px;
      background-color: black;
      transform: scaleX(0); 
      transform-origin: 0% 100%;
      transition: transform 0.2s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
} */
